.process {
  position: absolute;
  
  /* 2. Map the absolute positions to your React CSS variables */
  left: var(--x);
  top: var(--y);
  
  z-index: 1000;
  user-select: none;
  cursor: grab;
  
  /* Layout configurations */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
    border-color: blue;
  border-width: 3px;
  padding: 2px;
  border-style: solid;
}

.funUnit {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
